fastapi
uvicorn
requests
beautifulsoup4
sentence-transformers
faiss-cpu
torch
torchaudio
librosa
soundfile
duckduckgo-search
silero-vad
detoxify
python-dotenv
groq
langdetect
python-multipart
noisereduce
pydub
gunicorn
